<header class="container">
    <div class="container">
        <a href="/" target="_self">
            <img src="/imgs/logo.png" alt="Logo" class="logo">
        </a>
        <div class="title-container">
            <a href="/" target="_self">
                <h1 class="main-title">Blog</h1>
            </a>
            <a href="/" target="_self">
                <p class="subtitle">Application Server</p>
            </a>
        </div>
    </div>
    
    <nav class="navbar">
        <a href="/" class="fa fa-home" id="home"></a>
        <div class="dropdown">
            <div class="dropbtn">Listagem
                <div class="arrow">&#9698;</div>
            </div>
            <div class="dropdown-content">
                <a href="/posts">Listar Postagens</a>
                <a href="/categories">Listar Categorias</a>
                <a href="/">Listar Tags</a>
            </div>
        </div>
        <div class="dropdown">
            <div class="dropbtn">Cadastro
                <div class="arrow">&#9698;</div>
            </div>
            <div class="dropdown-content">
                <a href="/posts/create">Cadastrar Postagem</a>
                <a href="/categories/create">Cadastrar Categoria</a>
                <a href="/">Cadastrar Tag</a>
            </div>
        </div>
        <a href="/logout">Sair</a>
    
        <button class="close-nav">&times;</button>
    </nav>
    
    <a id="mobile" class="fa fa-bars"></a>
</header>